@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@media screen and (max-width: 768px) {
    
    *{
        margin: 0px;
        padding: 0px;  
        font-family: 'Passion One', 'Helvetica','cursive'; 
        font-weight: normal;
    }
    body{
        background-color: #000000cb;
        
    }
    header{
        
        padding: 20px;
        height: 200px;
        background-color: #0000002a;
        border-radius: 5px;
        box-shadow: 0px 3px 3px 0px #facc00d0;
    }
 
    
    #logo{
        position: relative;
        height: 70px;
        width: 110px;
        top: 61px;
        background-image: url(../fotos/pao.png);
        background-repeat: no-repeat;
    }
    #nome_logo{
        position: relative;
        top: -26px;
        left: 130px;
        height: 110px;
        width: 220px;
        background-image: url(../fotos/nome.png); 
        background-repeat: no-repeat;
               
    }

    img{
        padding: 20px;
        margin: auto;
        align-items: center;
        width: 280px;
    }
   
    main h1{
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: center;
        font-size: 3.5em;
        text-shadow: 1px 1px 3px #ffffffe0;
        color: #fac000 ;
    }
   
    .paes h2, .paes-recheados h2, .fogazzas h2{
        padding: 50px;
        font-size: 2em;
        text-align: center;
        padding-left: 30px;
        padding-bottom: 20px;
        color: #fac000e5 ;
        text-shadow: 0.5px 0.5px 0.5px #ffffffc2;
    }

    .produto {
        padding-left: 20px;
        color: white;
        padding-top: 30px;
        font-size: 2em;
    }
    .descrição{
        padding-left: 30px;
        padding-bottom: 20px;
        color: #fac000e5 ;
        font-size: 1.6em;
        
    }
    .borda{
        border-radius: 15px;
        box-shadow: 0px 0px 3px 1px #facc00d0;
        padding: 10px;
        margin: 30px;
    }
    #wpp{
        display: inline-block;
        width: 100px;
        height: 100px;
        background-image: url(../fotos/whatsapp.png);
        background-repeat: no-repeat;
        border: 1px solid #ffffff;
    }
    footer{
        border: 1px solid #ffffff;
    }
    
}